#labelmarial {
  border-right: 2px black solid;
  padding: 4px;
}
#lo {
  border-left: black solid 2px;
  padding: 4px;
}

table,
thead,
th,
tr,
td {
  border: 2px solid black;
  margin-right: 15px;
  padding: 10px;
  background-color: bisque;
  border-radius: 4.5px;
}
body {
  background-color: beige;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}
legend {
  color: black;
  font-size: medium;
  font-weight: bold;
}
caption {
  font-size: medium;
  font-weight: bold;
}

#dateyeartax {
  margin-right: 357px;
}
